<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gala.Dolly.Chatbots.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gala.Dolly.Chatbots.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gala.Dolly.Chatbots.Properties.Settings>
            <setting name="ChatbotDisplayResponseWaitTime" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ChatbotDefaultName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ChatbotDefaultResponse" serializeAs="String">
                <value>I'm sorry - Do I know you?</value>
            </setting>
        </Gala.Dolly.Chatbots.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Gala.Dolly.Chatbots.Properties.Settings>
            <setting name="ChatbotAliceConfigFolder" serializeAs="String">
                <value>..\..\..\..\Library\ChatBots\AIMLBot\ConfigurationFiles</value>
            </setting>
            <setting name="ChatbotResourcesFolder" serializeAs="String">
                <value>..\..\..\..\Resources\Chatbot</value>
            </setting>
            <setting name="ChatbotMessageFormat" serializeAs="String">
                <value>&gt;{0}: {1}</value>
            </setting>
        </Gala.Dolly.Chatbots.Properties.Settings>
    </applicationSettings>
</configuration>