<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gala.Dolly.Chatbots.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Gala.Dolly.Chatbots.Properties.Settings>
            <setting name="ChatbotAliceConfigFolder" serializeAs="String">
                <value>..\..\..\Library\ChatBots\AIMLBot\ConfigurationFiles</value>
            </setting>
            <setting name="ChatbotResourcesFolder" serializeAs="String">
                <value>..\..\..\Resources\Chatbot</value>
            </setting>
        </Gala.Dolly.Chatbots.Properties.Settings>
    </applicationSettings>
</configuration>