<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gala.Dolly.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gala.Dolly.UI.Properties.Settings>
            <setting name="DebuggerLogLevel" serializeAs="String">
                <value>Event</value>
            </setting>
            <setting name="DebuggerAlertLevel" serializeAs="String">
                <value>Message</value>
            </setting>
            <setting name="DebuggerShowAlerts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowClientSize" serializeAs="String">
                <value>464, 322</value>
            </setting>
            <setting name="ApplicationTitle" serializeAs="String">
                <value>Gala Dolly</value>
            </setting>
            <setting name="ChatbotDefaultName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="UserDefaultName" serializeAs="String">
                <value>Peanut</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ChatbotDisplayResponseWaitTime" serializeAs="String">
                <value>255</value>
            </setting>
        </Gala.Dolly.UI.Properties.Settings>       
    </userSettings>
</configuration>